<h3>{{ _("Nozzle Wipe Settings") }}</h3>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _("Wipe Position X") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.wipe_position_x" >
            <div class="help-block">{{ _("X position of wiping point.") }}</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _("Wipe Position Y") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.wipe_position_y">
            <div class="help-block">{{ _("Y position of wiping point.") }}</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _("Wipe Position Z") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.wipe_position_z">
            <div class="help-block">{{ _("Z position of wiping point.") }}</div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _("Wipe radius") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.wipe_radius">
            <div class="help-block">{{ _("move the nozzle inside a circle with this radius when wiping") }}</div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _("Wipe moves") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.wipe_moves">
            <div class="help-block">{{ _("number of moves performed when wiping") }}</div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _("Wipe Interval (minutes)") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.wipe_interval">
            <div class="help-block">{{ _("Wipe nozzle every 'Wipe Interval' minutes") }}</div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _("Retraction before wiping") }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nozzlewipe.retraction">
            <div class="help-block">{{ _("mm to retract before wiping") }}</div>
        </div>
    </div>
</form>
