<h3>{{ _("Nozzle Wipe Settings") }}</h3>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _("Use time estimate") }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.nozzlewipe.progress_from_time">
            <div class="help-block">{{ _("Calculate progress based on time elapsed and time remaining.") }}</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _("Wipe Position X") }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.nozzlewipe.wipe_position_x">
            <div class="help-block">{{ _("X position of wiping point.") }}</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _("Wipe Position X") }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.nozzlewipe.wipe_position_y">
            <div class="help-block">{{ _("Y position of wiping point.") }}</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _("Wipe Position X") }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.nozzlewipe.wipe_position_z">
            <div class="help-block">{{ _("Z position of wiping point.") }}</div>
        </div>
    </div>


</form>
